[user]
	email = dennis.marsa@gmail.com
	name = Dennis Marsa
[core]
	pager = less
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	amend = commit --amend
	l = log --name-status
	lg = log --name-status --graph
	pullr = pull --rebase
	staged = diff --staged
	rebasea = rebase --abort
	rebasec = rebase --continue
	rebasei = rebase --interactive
